table td tr{
    /* border: none; */
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}
    
.game-button {
    font-size: x-large;
    border: 0;
    padding: 0; /*width/height of buttons*/
    text-align: center;
    margin: 0;
    width:100%;
}

.otree-timer {
    display: none;
}