.otree-timer {
    display: none;
}

.answers {
    column-count: 2;
}


td { 
    width: 100px;
    height: 30px;
}

table tr{ 
    border: black 1px;
    border-spacing: 10px 20px;
    border-collapse: separate;
}